@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
    background-color: black;
    color: white;
}

input {
    color: black;
}

p {
    font-size: xx-small;
}

h1 {
    font-size: large;
}